{% extends "layout.twig" %}

{% block title %}Chweet Settings{% endblock %}

{% block content %}
<h1>Chweet Settings</h1>
<form id="chweet_settings" class="split" action="{% admin "chweet_settings" %}" method="post">
    <fieldset>
    {% if site.chweet_oauth_token == "" %}
    <p>
        <button name="authorize" value="authorize" class="yay"><img src="$theme_url/images/icons/success.png" alt="success" />${ "Authorize" | translate }</button>
        <small>Authorize Chweet to Twitter</small>
    </p>
    {% else %}
    <p>
        <span class="button yay">Authorized  as @$site.chweet_username</span>
    </p>
    <hr />
    <br />
    {% endif %}

    <p>
        <label for="chweet_format">Post format</label>
        <textarea name="chweet_format" id="chweet_format" rows="2" cols="40">${ site.chweet_format | escape }</textarea>
    </p>
    <div class="small">
        <strong>Syntax:</strong>
        <ul>
            <li><code>%title%</code>: Title of the post.</li>
            <li><code>%url%</code>: URL of the post.</li>
            <li><code>%shorturl%</code>: Shortened URL.</li>
            <li><code>%author%</code>: Name of the post author.</li>
            <li><code>%feather%</code>: Type of feather, e.g. 'text'.</li>
            <li><code>%feather-uc%</code>: Type of feather, with the first letter capitalized, e.g. 'Text'.</li>
        </ul>
    </div>
    <p>
        <label for="chweet_url_shortener">${ "URL Shortener" | translate("chweet") }</label>
        <select name="chweet_url_shortener" id="chweet_url_shortener">
            <option value="bitly"${ "bitly" | option_selected(site.chweet_url_shortener) }>${ "bit.ly" | translate("chweet") }</option>
            <option value="isgd"${ "vgd" | option_selected(site.chweet_url_shortener) }>${ "is.gd" | translate("chweet") }</option>
            <option value="googl"${ "googl" | option_selected(site.chweet_url_shortener) }>${ "goo.gl" | translate("chweet") }</option>
        </select>
    </p>
    <div id="bitly_fields" {% if site.chweet_url_shortener != "bitly" %}style="display:none;"{%endif %}>
    <p>
        <label for="chweet_bitly_login">Your Bitly Login</label>
        <input name="chweet_bitly_login" id="chweet_bitly_login" type="text" value="${ site.chweet_bitly_login | escape }" />
    </p>
    <p>
        <label for="chweet_bitly_apikey">Your Bitly API Key</label>
        <input name="chweet_bitly_apikey" id="chweet_bitly_apikey" type="text" value="${ site.chweet_bitly_apikey | escape }" />
    </p>
    </div>
    <div id="googl_fields" {% if site.chweet_url_shortener != "googl" %}style="display:none;"{%endif %}>
    <p>
        <label for="chweet_googl_apikey">Your Goo.gl API Key</label>
        <input name="chweet_googl_apikey" id="chweet_googl_apikey" type="text" value="${ site.chweet_googl_apikey | escape }" />
    </p>
    </div>
    <p class="buttons">
        <p>
            <button type="submit" class="yay"><img src="$theme_url/images/icons/success.png" alt="success" />${ "Update" | translate }</button>
        </p>
    </p>

    <input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
    </fieldset>
</form>
{% endblock %}
